/*
--- 01 Typography system

--- 02 Colors

Primary: #555
Tints:
Shades:
Accents:
Greys:#333,#444,#555

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  position: relative;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo-panel {
  left: 1rem;
  top: 1rem;
  width: 100%;
  max-width: 24rem;
  height: 2rem;
  position: absolute;
  background-color: white;
  color: #333;
  filter: drop-shadow(0 0 0.5rem rgb(200, 200, 200));
}

.import-img-panel {
  border-radius: 15px;
  width: 15rem;
  position: absolute;
  left: 1rem;
  top: 10rem;
  filter: drop-shadow(0 0 0.5rem rgb(200, 200, 200));
}

#my_file {
  display: none;
}

.imported_image {
  border: solid 1px #333;
  width: 3rem;
  height: 3rem;
}

#main_canvas {
  width: 40rem;
  height: 40rem;
  background-color: aqua;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0.5rem rgb(200, 200, 200));
}
